body {
  display: block;
  padding: 10rem 30rem;
  font-family:Arial, Helvetica, sans-serif;
}

h1 {
  color: blue;
}

img {
  max-width: 20px;
}

.list {
  text-decoration: none;
}

h3 {
  color: blue;
}


